.root {
  .admin__blocks {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 50px;

    .admin__block {
      padding: 60px 30px;

      text-transform: uppercase;
      text-align: center;
      font-size: 24px;
      font-weight: 500;

      background: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 0.01%,
        rgba(79, 12, 11, 0.2) 100%
      );

      border: 1px solid rgba(0, 0, 0, 0.8);
      &:hover {
        background: linear-gradient(
          180deg,
          #ffffff 0%,
          rgba(134, 51, 51, 0) 0.01%,
          rgba(73, 7, 7, 0.301) 100%
        );
      }
    }
  }
}
