.root {
  border-top: 1px solid #000000;
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 35px;
    .logo {
      cursor: pointer;
    }
    .menu {
      li {
        display: inline;
        font-size: 21px;
        font-weight: 500;

        margin-left: 40px;

        cursor: pointer;
        &:hover {
          border-bottom: 1px solid #000000;
        }
      }
      .greeting {
        word-spacing: 7px;
        border: none !important;
      }

      .target__item {
        border-bottom: 1px solid #000000;
      }
    }
  }
}
